html, body {
  margin: 0;
  background: transparent;
}

.test-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 100vw;
  height: 100vh;
  border-radius: 100vw;
  background: red;
}

.circular-menu {
  margin: 10px;
}

.circular-menu > svg > g [id^=button] {
  cursor: pointer;
}

.circular-menu > svg > g [id^=button] [id^=highlight] {
  opacity: 0;
}

.circular-menu > svg > g [id^=button] > [id^=background] {
  opacity: 1;
}

.circular-menu > svg > g [id^=button] [id^=children] {
  opacity: 0;
  transition: opacity .6s;
  transition-timing-function: ease;
}

.circular-menu > svg > g [id^=button]:hover > [id^=highlight] {
  opacity: 1;
}

.circular-menu > svg > g [id^=button]:hover > [id^=background] {
  opacity: 0;
}

.circular-menu > svg > g [id^=button]:hover [id^=children] {
  opacity: 1;
}
