html, body {
  margin: 0;
  background: transparent;
}

.test-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 100vw;
  height: 100vh;
  border-radius: 100vw;
  background: red;
}